* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: radial-gradient(
    circle,
    rgba(253, 66, 20, 1) 0%,
    rgba(252, 152, 70, 1) 100%
  );
}

header {
  background-color: white;
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 20px 200px;

  .choice {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .choice select {
    font-size: 0.9rem;
    cursor: pointer;
    height: 40px;
    width: 130px;
    border-radius: 10px;
    transition: font-size 0.2s ease-in-out;
  }

  select > option {
    font-size: 1rem;
  }

  .choice select:hover {
    font-size: 1.1rem;
  }

  .choice label {
    font-size: 1.2rem;
  }

  & button {
    cursor: pointer;
    width: 80px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #fd7e14;
    color: white;
  }

  & button:hover {
    background-color: #ffc078;
  }
}

main {
  padding: 50px 0;
}

#result {
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;

  .you-lost {
    color: white;
    text-align: center;
    font-size: 4rem;
  }
}

#container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 700px;

  .square {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    aspect-ratio: 1;
    outline: 2px solid black;
    background-color: #e9fac8;
  }

  .selected {
    background-color: #ffc078;
  }

  .mushroom-cell {
    background-color: red;
  }

  .easy {
    width: calc(100% / 10);
  }

  .mid {
    width: calc(100% / 9);
  }

  .hard {
    width: calc(100% / 7);
  }
}
